/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    max-width: 1440px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}


/************** header *******************/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    /*taille du logo booki ajuster en fonction des valeurs de la maquette */
    width: 5%;
    height: auto;
}

header nav {
    width: 22%;
    display: flex;
    justify-content: space-between;
}


header ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 68px;
}

header ul li {
    padding-top: 20px;
    border-top: 2px solid white;
}

header ul li:hover {
    color: #0065FC;
    border-top: 2px solid;
}

/******************* zone info*********/

.info {
    width: 100%;
    height: auto;
}

.info-titre {
    width: 100%;
}

h1 {
    font-size: 20px;
}

/*********** barre de recherche ***********/
form {
    border: 1px;
    width: 25%;
    height: 49px;
    display: flex;
    border-radius: 15px;

}

form .fa-solid {
    width: 15%;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    /* centre l'icone horizontalement*/
    justify-content: center;
    /* centre l'icone verticalement*/
    align-items: center;
    background-color: #F2F2F2;

}

form input {
    display: flex;
    font-weight: 700;
    font-size: 15px;
    /* font size de 15 au lieu de 18*/
    text-align: center;
    border: 1px solid #F2F2F2;
    width: 50%;
}


/*boutton rechercher*/
form button {
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 35%;
    height: 49px;
}


form button span {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    /* Assure un centrage vertical parfait */
    line-height: 49px;
}

form button .button-icone {
    width: 100%;
    height: 49px;
    border-radius: 15px 16px 15px 16px;
    background-color: #0065FC;
    color: #FFFFFF;
    line-height: 49px;
    display: none;
}

/*************Filtres*************/

.section-filtres {
    display: flex;
    height: auto;
    /*marge temporaire entre la barre et les filtres*/
    margin-top: 25px;

}

.section-filtres .div-filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: auto;
    padding: 5px;
}

.section-filtres .div-filtres :hover {
    background-color: #BEEBFF;
}

.titre-filtres {
    width: 5%;
    font-weight: 700;
    font-size: 18px;
}

.section-filtres:hover .titre-filtres {
    background-color: #FFFFFF;
}


.filtres {
    display: flex;
    /*aligne le logo et le text*/
    align-items: center;
    width: auto;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 15px;
    padding: 4px 19px 4px 19px;
}


.filtres span {
    font-weight: 700;
}

.logo-filtres {
    width: 22px;
    height: 22px;

}

/**************disponibilités**************/

.info .disponibilites {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px 0 10px 0;
}


.info-icone {
    color: #ffffff;
    background-color: #0065FC;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    /*simule une bordure*/
    outline: 1px solid #D9D9D9;
    /*déplace la bordure vers l'interieur. a voir en motorat l'interet de ces 2 fonction*/
    outline-offset: -1px;
    font-size: 150%;
    width: 24px;
    height: 24px;
}


/********************général***********************/


.main-container {
    width: auto;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-around;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .section-title {
    margin-left: 20px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*pour faire passer les élément a la ligne automatiquement*/
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.hebergements-cards .card {
    width: 29%;
    height: 207px;
    border-radius: 20px;
    padding-bottom: 15px;
    gap: 4px;
}

.hebergements-cards .card-content {
    /*rapproche le texte des cartes*/
    line-height: 10px;
    padding-left: 5px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.txt-afficher-plus {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0px 0px 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************ Activités*****************/


.section-activités .section-title {
    margin-bottom: 20px;
    margin-left: 10px;
}

.section-activités {
    margin-top: 30px;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;

}

.section-cards {
    display: flex;
    flex-direction: row;
}

.section-cards .card {
    width: 90%;
    cursor: pointer;
}

.section-activités .card {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 20px;
}


.section-activités img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section-cards .card-title {
    margin-left: 15px;
}

/*************Footer***************/

.section-footer {
    margin-top: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20% 20px 20px;
}

.txt-title {
    font-weight: 700;
}

.section-footer .txt-title {
    font-size: 18px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    /*****************header***************************/

    header {
        margin-bottom: 50px;
    }

    header img {
        width: 8%;
        height: auto;
    }

    header nav {
        width: 33%;
    }

    header ul {
        gap: 60px;
    }

    header ul li {
        font-size: 12px;
    }

    /*************info************/

    .info {
        width: 100%;
        height: auto;
    }

    .info-titre {
        width: 100%;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
        margin-bottom: 30px;
    }

    /************barre de recherche***********/
    form {
        width: 90%;
    }

    form .fa-solid {
        width: 8%;
        height: 49px
    }

    form input {
        width: 25%;
        height: 45px;
    }

    form button {
        width: 20%;
        height: 49px;
    }

    Form button span {
        line-height: 49px;
    }

    /***********filtres***********/

    .section-filtres {
        width: 80%;
        display: block;
    }

    .section-filtres .titre-filtres {
        margin-bottom: 10px;
    }

    .div-filtres {
        width: 100%;
    }

    .filtres {
        width: 100%;
        height: 35px;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .filtres span {
        height: 15px;
        font-size: 13px;
        text-align: center;
    }

    /*********info**********/


    .info .info-txt {
        padding-top: 15px;
    }


    .info-icone {
        font-size: 100% !important;
        width: 16px !important;
        height: 16px !important;
    }

    /**************hébergements************/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .section-title {
        margin-left: 0;
    }

    .hebergements-cards .card {
        height: 150px;
        border-radius: 15px;
    }

    .hebergements-cards .card-content {
        line-height: 5px;
    }

    .hebergements-cards .card-rating {
        font-size: 13px;
        margin-top: -10px;
        width: 40%;
    }

    .hebergements-cards img {
        height: 60%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .card-content .card-title {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .card-content .card-subtitle {
        font-size: 12px;
    }

    .txt-afficher-plus {
        margin-left: 0;
        font-size: 16px;
    }

    /*********** titre général*********/

    .section-title {
        font-size: 18px;
        font-weight: 700;
    }

    /*************populaires*********/

    .populaires {
        width: 100%;
        margin-top: 40px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        height: 100px;
        border-radius: 15px;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards img {
        width: 35%;
        height: 100px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .populaires-cards .card-title {
        font-size: 11px;
        margin-bottom: 2px;
    }

    .populaires-cards .card-subtitle {
        font-size: 10px;
    }

    .populaires-cards .card-rating {
        font-size: 12px;
        width: 55%;
    }

    /***********activités********/
    .section-cards .card {
        height: 210px;
        border-radius: 10px;
        margin: 10px;
        padding-bottom: 0;

    }

    .section-cards .card img {
        height: 73%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }

    .section-cards .card-title {
        font-size: 14px;
        margin-left: 10px;
        margin-top: 2px;
        padding: 10px 5px 10px 5px;
    }

    /************footer*********/

    .section-footer {
        margin-top: 20px;
        padding-bottom: 0;
    }

    .section-footer .txt-title {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .section-footer p {
        font-size: 10px;
        line-height: 1;
        padding: 0;
        margin-bottom: 10px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        padding: 0;
        margin: 0;
    }

    /********************header*******************/
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }

    header img {
        width: 18%;
        height: auto;
        margin-top: 20px;
    }

    header nav {
        width: 99%;

    }


    header ul {
        width: 100%;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 0;
        gap: 0;
    }

    header ul li {
        flex-grow: 1;
        border-top: none;
        border-bottom: 2px solid white;
        padding: 20px 0;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid #D9D9D9;
        width: 50%;
    }

    header ul li:hover {
        border-top: none;
        border-bottom: 2px solid;
    }

    /******************info************/

    .info {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .info .info-titre {
        font-size: 17px;
        margin-bottom: 40px;
    }

    h1 {
        font-size: 19px;
    }

    .info-titre p {
        font-size: 15px;
    }

    /*********** barre de recherche**************/

    form {
        width: 100%;
        height: auto;
    }

    form .fa-solid {
        width: 70px;
        height: 50px;
        font-size: 1.2em;
    }

    form input {
        width: 100%;
        height: 46px;
    }

    form button {
        width: 70px;
        height: 50px;
        background: none;
        position: relative;
        left: -7px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    form button span {
        display: none;
    }

    form button .button-icone {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    /*********************filtres****************/
    .section-filtres {
        width: 100%;
        margin-top: 40px;
        box-sizing: border-box;
        display: block;
    }

    .titre-filtres {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .section-filtres .div-filtres {
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 20px;
    }

    .filtres {
        width: 46%;
        height: 45px;
        /****pour géré la taille totale*/
        box-sizing: border-box;
    }

    .filtres span {
        display: flex;
        align-items: center;
        font-size: 12px;
        gap: 10px;
    }

    .logo-filtres {
        width: 15%;
        font-size: 18px;
    }

    /*********************disponibilités************/

    .disponibilites .info-txt {
        font-size: 13px;
    }

    .info-icone {
        width: 19px;
        height: 19px;
    }

    /**************sections********************/
    /********populaires********/

    .populaires {
        order: 1;
        border-radius: 0 !important;
        margin: 0;
        padding: 10px !important;
        width: auto;
    }

    .section-title {
        font-size: 20px;
    }

    .populaires-title {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: block;
    }

    .populaires-cards .card {
        height: 100px;
        margin: 10px 5px 10px 5px;
    }

    .populaires-cards img {
        width: 30%;
        height: auto;
    }

    .populaires-cards .card-title {
        font-size: 13px;
    }

    .populaires-cards .card-subtitle {
        font-size: 10px;
    }

    .populaires-cards .card-rating {
        font-size: 12px;
    }


    /*******hebergements******/
    .hebergements {
        order: 2;
        background-color: transparent !important;
        padding: 10px !important;
        width: auto;
    }

    .hebergements .section-title {
        font-size: 20px;
        margin-top: 15px;
    }

    .hebergements-cards {
        gap: 15px;
        margin-top: 10px;
    }

    .hebergements-cards .card {
        width: 100%;
        height: 150px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .hebergements .card-title {
        font-size: 14px;
        margin-bottom: 0;
    }

    .hebergements-cards .card-subtitle {
        font-size: 12px;
        margin-bottom: 23px;
    }

    .hebergements .card-rating {
        font-size: 13px;
    }

    .hebergements-cards img {
        height: 70%;
    }

    .txt-afficher-plus {
        padding-top: 5px;
        font-size: 12px;
    }

    /**********activités*******/
    .section-activités {
        width: auto;
        padding: 10px;
    }

    .section-activités .section-title {
        font-size: 20px;
    }

    .section-cards {
        display: block;
    }

    .section-cards .card-title {
        font-size: 16px;
        padding-top: 10px;
    }

    .section-cards .card {
        height: 150px;
        /* Empêche l'image de déborder */
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .section-activités .card {
        width: 94%;
    }

    .section-activités img {
        width: 100%;
        height: 100px !important;
    }

    /****************footer***********/

    .section-footer {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: auto;
    }

    .section-footer .txt-title {
        font-size: 18px;
    }

    .section-footer p {
        font-size: 15px;
    }
}