/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    max-width: 1440px;
    margin: auto;
}


/************** header *******************/
header {
    display: flex;
    align-items: center;
    width: 100%;
}

header img {
    /*taille du logo booki ajuster en fonction des valeurs de la maquette */
    width: 5%;
    height: auto;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


header ul {
    display: flex;
    list-style: none;
    gap: 70px;

}

header ul li {
    padding-top: 20px;
    border-top: 2px solid white;
}

header ul li:hover {
    color: #0065FC;
    border-top: 2px solid;
}

/******************* zone info*********/

.info {
    width: 100%;
    height: auto;
}

.info-titre {
    width: 100%;
}

h1 {
    font-size: 20px;
}

/*********** barre de recherche ***********/
form {
    border: 1px;
    width: 100%;
    height: 49px;
    display: flex;
    border-radius: 15px;

}

form .fa-solid {
    width: 5%;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    /* centre l'icone horizontalement*/
    justify-content: center;
    /* centre l'icone verticalement*/
    align-items: center;
    background-color: #F2F2F2;

}

form input {
    display: flex;
    font-weight: 700;
    font-size: 15px;
    /* font size de 15 au lieu de 18*/
    text-align: center;
    border: 1px solid #F2F2F2;
    width: 15%;

}


/*boutton rechercher*/
form button {
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 10%;
    height: 49px;
}


form button span {
    display: flex;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    /* Assure un centrage vertical parfait */
    line-height: 49px;
}

form button .button-icone {
    width: 100%;
    height: 49px;
    border-radius: 15px 16px 15px 16px;
    background-color: #0065FC;
    color: #FFFFFF;
    line-height: 49px;
    display: none;
}

/*************Filtres*************/

.section-filtres {
    display: flex;
    height: auto;
    /*marge temporaire entre la barre et les filtres*/
    margin-top: 25px;

}

.section-filtres .div-filtres {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.section-filtres .div-filtres :hover {
    background-color: #BEEBFF;
}

.titre-filtres {
    width: 5%;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
}

.section-filtres:hover .titre-filtres {
    background-color: #FFFFFF;
}


.filtres {
    display: flex;
    /*aligne le logo et le text*/
    align-items: center;
    width: auto;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 15px;

}


.filtres span {
    font-weight: 700;
}

.logo-filtres {
    width: 22px;
    height: 22px;

}

/**************disponibilités**************/

.info .disponibilites {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px 0 10px 0;
}


.info-icone {
    color: white;
    background-color: #0065FC;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    /*simule une bordure*/
    outline: 1px solid #D9D9D9;
    /*déplace la bordure vers l'interieur. a voir en motorat l'interet de ces 2 fonction*/
    outline-offset: -1px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}


/********************général***********************/


.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    /*pour faire passer les élément a la ligne automatiquement*/
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards .card {

    width: 28%;
    height: 190px;
    border-radius: 20px;
    padding-bottom: 15px;
    gap: 4px;
}

.hebergements-cards .card-content {
    /*rapproche le texte des cartes*/
    line-height: 10px;
    padding-left: 5px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.txt-afficher-plus {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************ Activités*****************/


.section-activités .section-title {
    margin-bottom: 20px;
    margin-left: 10px;
}

.section-activités {
    margin-top: 30px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;

}

.section-cards {
    display: flex;
    flex-direction: row;
}

.section-cards .card {
    width: 90%;
    cursor: pointer;
}

.section-activités .card {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 20px;
}


.section-activités img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.section-cards .card-title {
    margin-left: 15px;
}

/*************Footer***************/

.section-footer {
    margin-top: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20% 20px 20px;
}

.txt-title {
    font-weight: 700;
}

.section-footer .txt-title {
    font-size: 18px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*****************header***************************/
    header img {
        width: 8%;
        height: auto;
    }


    /************barre de recherche***********/
    form .fa-solid {
        width: 7%;
    }

    form input {
        width: 20%;
    }

    form button {
        width: 12%;
    }

    /***********filtres***********/

    .section-filtres {
        width: 100%;
    }

    /* Maintenir les filtres sur une seule ligne */
    .filtres {
        display: inline-flex;
        /* Espacement optionnel entre les filtres */
        margin-right: 5px;
    }

    .titre-filtres {
        margin-right: 20px;
    }

    p .info-icone {
        margin-top: 20px;
    }

    /**************************/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-top: 30px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /***********activités********/

    .section-activités {
        margin: 0;
    }

    .section-cards .card {
        height: 250px;
    }

    .section-cards .card img {
        height: 180px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    /********************header*******************/
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    header img {
        width: 15%;
        height: auto;
        margin-top: 20px;
    }

    header ul {
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        font-size: 19px;

    }

    header ul li {
        flex-grow: 1;
        border-top: none;
        border-bottom: 2px solid white;
        padding: 20px 0;
        text-align: center;
    }

    header ul li:hover {
        border-top: none;
        border-bottom: 2px solid;
    }

    /******************info************/



    .info .info-titre {
        font-size: 40px;
    }

    h1 {
        font-size: 50px;
    }

    /*********** barre de recherche**************/

    form {
        width: 100%;
        height: auto;
    }

    form .fa-solid {
        width: 20%;
        height: 85px;
        font-size: 2.5em;

    }

    form input {
        width: 100%;
        height: 80px;

    }

    form button {
        width: 13%;
        height: 85px;
        background: none;
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    form button .button-icone {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    /*********************filtres****************/
    .section-filtres {
        width: 100%;
        margin-top: 100px;
        box-sizing: border-box;
        display: block;
    }

    .titre-filtres {
        font-size: 200%;
        margin-bottom: 50px;
    }

    .section-filtres .div-filtres {
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 25px;
    }

    .filtres {
        width: 45%;
        height: 80px;
        /****pour géré la taille totale*/
        box-sizing: border-box;
        border-radius: 50px;

    }

    .filtres span {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 150%;
        gap: 10px;
    }

    /*********************disponibilités************/

    .info .disponibilites {
        font-size: 35px;
    }

    .info-icone {
        font-size: 40px;
        width: 40px;
        height: 40px;
    }

    /**************sections********************/
    /********populaires********/
    .populaires {
        order: 1;
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 43px;
    }

    .populaires-title {
        font-size: 35px;
        margin-bottom: 50px;
    }

    .populaires-cards {
        display: block;
    }

    .populaires-cards .card {
        height: 240px;
    }

    .populaires-cards img {
        width: 25%;
        height: auto;
    }

    .populaires-cards .card-title {
        font-size: 35px;
    }

    .populaires-cards .card-subtitle {
        font-size: 25px;
    }

    .populaires-cards .card-rating {
        font-size: 25px;
    }


    /*******hebergements******/
    .hebergements {
        order: 2;
        background-color: transparent !important;
    }

    .hebergements .section-title {
        font-size: 45px;
        margin-bottom: 50px;
    }

    .hebergements-cards .card {
        width: 100%;
        height: 330px;
        margin: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .card-title {
        font-size: 33px;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .hebergements-cards .card-content {
        font-size: 30px;
    }

    .hebergements-cards img {
        height: 200px;
    }

    .txt-afficher-plus {
        padding-top: 15px;
        font-size: 30px;
    }

    /**********activités*******/
    .section-activités {
        order: 3;
        margin-top: 100px;
    }

    .section-activités .section-title {
        font-size: 45px;
        margin-bottom: 50px;
    }

    .section-cards {
        display: block;
    }

    .section-cards .card {
        width: 95%;
        height: 330px;
        /* Empêche l'image de déborder */
        overflow: hidden;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    .section-activités img {
        width: 100%;
        height: 230px !important;
    }

    .section-cards .card-title {
        margin-left: 30px;
    }

    /****************footer***********/

    .section-footer {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        gap: 30px;
        padding-left: 30px;
    }

    .section-footer .txt-title {
        font-size: 30px;
    }


}